# ------------------------------------------------------------------------------
# Common
# ------------------------------------------------------------------------------

aws_region   = "ap-northeast-2"
project_name = "petcarelog"
environment  = "management"

# ------------------------------------------------------------------------------
# VPC / Network
# ------------------------------------------------------------------------------

vpc_cidr = "10.2.0.0/16"

availability_zones = [
  "ap-northeast-2a",
  "ap-northeast-2c"
]

public_subnet_cidrs = [
  "10.2.0.0/24",
  "10.2.1.0/24"
]

private_app_subnet_cidrs = [
  "10.2.10.0/24",
  "10.2.11.0/24"
]

# management에서는 DB를 사용하지 않지만,
# 기존 network 모듈 구조를 맞추기 위해 생성
private_db_subnet_cidrs = [
  "10.2.20.0/24",
  "10.2.21.0/24"
]

enable_nat_gateway = true

# management는 비용 절감을 위해 NAT Gateway 1개
single_nat_gateway = true

# ------------------------------------------------------------------------------
# Bastion
# ------------------------------------------------------------------------------

enable_bastion = false

bastion_allowed_ssh_cidrs = []

# ------------------------------------------------------------------------------
# Ports
# ------------------------------------------------------------------------------

app_port   = 8080
db_port    = 3306
redis_port = 6379

# ------------------------------------------------------------------------------
# EKS
# ------------------------------------------------------------------------------

eks_cluster_version         = "1.33"
eks_endpoint_public_access  = true
eks_endpoint_private_access = true

node_group_instance_types = [
  "t3.medium"
]

node_group_desired_size = 2
node_group_min_size     = 2
node_group_max_size     = 3
node_group_disk_size    = 20

# ------------------------------------------------------------------------------
# EKS Add-ons
# ------------------------------------------------------------------------------

eks_addons = [
  "vpc-cni",
  "coredns",
  "kube-proxy",
  "eks-pod-identity-agent"
]